body {
    background: url('../img/background4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.divForm{
    background-color: rgba(256,256,256,0.95);
}

.outer-div{
    padding: 30px;
}

