<body ng-app="app" ng-cloak>
	<div class="app-wrapper" ng-controller="ctrl">


		<div id="pokedex">

			<div id="camera"></div>
			<div id="status-color">
				<div class="status"></div>
				<div class="status"></div>
				<div class="status"></div>
			</div>
			<div id="screen">
				<div ng-hide="isSearching" id="pokeball"></div>
				<p id="searching" ng-hide="isSearching">searching for pokemon</p>

				<div ng-hide="!isSearching">
					<div id="pokemon-photo" style="background-image: url('{{pokemon.sprites.front_default}}');"></div>
					<h1>{{pokemon.name}} <small> {{pokemon.weight}}lbs -
					<span ng-attr-id="{{pokemonType}}">{{pokemon.types[0].type.name}}</span>
	</small></h1>

					<h5>Abilities:</h5>
					<p>{{pokemon.abilities[0].ability.name }}</p>
					<p>{{pokemon.abilities[1].ability.name }}</p>
					<p>{{pokemon.abilities[2].ability.name }}</p>


				</div>
			</div>

			<form>

				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="sample4" ng-model="searchPokemon">
					<label class="mdl-textfield__label" for="sample4">Enter a pokemons name or #</label>
					<span class="mdl-textfield__error">thats not cool</span>
				</div>


				<button ng-click="search(searchPokemon)" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">add</i>
</button>
			</form>

		</div>

		<a class="mdl-button mdl-js-button mdl-button--accent tag" href="http://www.pixelpshr.com">Pen By HailJake</a>
	</div>
</body>