<!DOCTYPE html>
<html>

<head lang="fr">
    <meta charset="UTF-8">
    <title>Pokédex</title>
    <link rel="icon" href="img/icon.png" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/pokedex.css" />

</head>

<body ng-app="pokedex">

    <nav id="top-bar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" id="top-navbar-container">
            <div id="top-navbar">
                <ul class="nav navbar-nav">
                    <li tabindex="1">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </li>
                    <nav id="user-navbar">
                        <div id="dismiss">
                            <i class="fa fa-2x fa-close"></i>
                        </div>
                    </nav>
                    <div class="overlay"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid" id="menu-navbar-container">
            <div class="collapse navbar-collapse" id="menu-navbar">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </nav>

    <div class="outer-div">
    <div class="container">
        <div align="center-block" style="margin-top: 3em;">
            <!-- Pub responsive pokédex -->
            <ins class="adsbygoogle" style="display:block; max-height:200px;" data-ad-client="ca-pub-9629354545423760" data-ad-slot="8194733237"
                data-ad-format="auto"></ins>
        </div>
        </br>
        <h1>
            <span class="label label-default">Bienvenue sur Pokédex !</span>
        </h1>

        <!-- Search -->
        <div ng-app="pokeApp" ng-controller="myCtrl">

            <!-- Question 1 -->
            <div class="col-xs-2">
                <input type="text" class="form-control" ng-model="names.id" id="id" placeholder="id" >
            </div> <!-- ng-change="changeId(names.id)" --> 
            <!-- Question 6 -->
            <div class="col-xs-2 col-md-3 col-lg-1 center">
                <input type="text" class="form-control" id="filter" ng-model="nomPokemon"  placeholder="{{nomPokemon}}"  value="{{names.name}}}">
            </div> <!-- ng-change="changeName(nomPokemon)"  -->
            <div class="col-xs-2 col-md-3 col-lg-1 center">
                <!-- Question 5 -->
                <select class="form-control" ng-model="nomPokemon">
                    <option id="name"  ng-repeat="name in names | filter:{id: names.id} | filter:{name: nomPokemon} track by name.id ">{{name.id}} - {{name.name}}</option>
                </select>
            </div>
            <!-- Question 8 -->
            <div class="col-xs-5 col-md-3 col-lg-1 vcenter">
                <button type="button" class="btn btn-primary" ng-click="check(nomPokemon)">Go !</button> <!-- check(names.id) -->
            </div>
            </br>
            <h1>
                <figure class="img-set" style="background-color: #ffffff;display: inline-block;">
                    <img src="{{image[0].src}}"/>
                    <figcaption align="center"></figcaption>
                </figure>
                <!-- Question 2  et 7 -->
                <span class="label label-default">#{{nomPokemon}}</span>


            </h1>
            <!-- description -->
            <h2>
            <span class="label label-default" >{{description}}</span>
            </h2>

            <!-- description -->
            <div class="row controls label-default" >
                <ul><li  ng-repeat="tPm in pms">{{tPm.name}}</li></ul>
            </div>
        </div>

        </div>

        <!-- Pokémon information -->
        <div ng-app="pokeApp" ng-controller="myCtrl2">


    </div>
    </div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>

</html>